body {
    background-color: #E0E0E0;
    font-family: 'Krona One';
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal que segura os elementos */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; /* Espaçamento entre os blocos */
    text-align: left;
}

/* Estilização da caixa de Título */
.box-titulo {
    background-color: #F3F3F3;
    border: 10px solid #000000;
    padding: 20px 30px;
    width: 450px;
    border-radius: 2px;
}

.box-titulo h1 {
    margin: 0;
    font-size: 32px;
    color: #000000;
    line-height: 1.2;
    font-weight: bold;
}

/* Estilização da caixa de Criadores */
.box-criadores {
    background-color: #FFFFFF;
    border: 6px solid #000000;
    padding: 10px 15px;
    width: 220px;
    align-self: center; /* Centraliza especificamente esta caixa */
    border-radius: 2px;
}

.box-criadores p {
     margin: 0;
     font-size: 16px;
     color: #000000;
     line-height: 1.3;
    font-weight: bold;
}

/* Estilização do Botão (Acessar Páginas) */
.btn-acessar {
    background-color: #FFFFFF;
    border: 9px solid #000000;
    padding: 20px 30px;
    width: 515px;
    font-size: 42px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    text-align: center;
    margin-top: 40px; /* Afasta o botão dos títulos superiores */
    transition: background-color 0.3s ease;
    font-family: 'Krona One';
    border-radius: 2px;
}

.btn-acessar:hover {
    background-color: #e1e1e1;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; /* espaçamento entre os blocos */
    text-align: left;
}

.box-titulo1 {
    background-color: #F3F3F3;
    border: 3px solid #000000;
    padding: 20px 30px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
}